.about
  p
    :markdown
      Меня зовут Aнтон Шувалов. Я ведущий JS-разработчик и team lead 
      в [Enaza Books][1]. Также я один из основателей
      стартапа [Reading List][2]. Кроме программирования я 
      [пишу музыку][3] и иногда занимаюсь дизайном 
      интерфейсов. Я есть в [Twitter][4], [Facebook][5] и 
      на [GitHub][6]. Вы можете написать
      мне [email][7].

      [1]: http://books.enaza.ru
      [2]: http://reading-list.ru
      [3]: https://soundcloud.com/asheee
      [4]: https://twitter.com/
      [5]: https://www.facebook.com/a8h333
      [6]: https://github.com/shuvalov-anton
      [7]: mailto:anton-shuvalov@me.com
