extends layout


block content
  .content__body
    label(for='article-title')
    input#article-title
    label(for='article-subtitle')
    input#article-subtitle
    textarea.article-content
    button(type='submit') Сохранить