extends layout


block content
  .content
    .content-header
      .content-header__title Новая статья
    .content__body
      form(method='post' action='/posts')
        label(for='article-title') Заголовок
        input#article-title(name='title')
        label(for='article-content') Содержимое (markdown)
        textarea#article-content(name='content')
        button(type='submit') Опубликовать