extends layout


block content
  .content__body
    form(method='post' action='/post')
    label(for='article-title') Заголовок
    input#article-title
    label(for='article-content') Содержимое
    textarea#article-content
    button(type='submit') Опубликовать